@mixin font_global {
  font-family: 'Roboto', Arial, Helvetica;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  color: #333B41;
};

@mixin link_hover {
  &:hover {
    color: #c36800;
    text-shadow: 4px 3px 7px rgb(249 185 75 / 71%);
    @content
  }
};
@mixin link_active {
  &:active {
    color: #4B9200;
    text-shadow: none;
    @content
  }
};


@mixin xl {
  @media (min-width: ($lg + 1px)) {
    @content
  }
};
@mixin lg {
  @media (min-width: ($md + 1px)) and  (max-width: $lg) {
    @content
  }
};
@mixin md {
  @media (min-width: ($sm + 1px)) and  (max-width: $md) {
    @content
  }
};
@mixin sm {
  @media (min-width: 0px) and (max-width: $sm) {
    @content
  }
};

@mixin xl-min {
  @media (min-width: $xl) {
    @content
  }
};
@mixin lg-min {
  @media (min-width: $lg) and  (max-width: ($xl - 1px)) {
    @content
  }
};
@mixin md-min {
  @media (min-width: $md) and  (max-width: ($lg - 1px)) {
    @content
  }
};
@mixin sm-min {
  @media (min-width: 0px) and (max-width: ($md - 1px)) {
    @content
  }
};

body {
  background-color: #FFF;
  @include font_global;
  h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
    margin: 0 0 11px 0;
  }
  h3 {
    font-size: 2.25rem;
    margin: 0 0 0 0;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 58px 0 25px 0;
  }
  
  h2, h3 {
    @include sm-min {
      font-size: 1.5rem;
    }
  }

  
  &::-webkit-scrollbar { 
    width: 0;
  }

  &>header, &>section, &>footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    min-width: 320px;
    padding: 0 30px;
    >div {
      width: 100%;
      max-width: $guides_width;
      
    }
    @include md {
      padding: 0 20px;
    }
    @include sm {
      padding: 0 10px;
    }
  }
}