.pick-and-feed-donate {
  //section height and position
  @include xl-min {
    height: 1482px;
  }
  @include lg-min {
    height: 1333px;
  }
  @include md-min {
    height: 1333px;
  }
  @include sm-min {
    height: 1145px;
  }

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0;

  p {
    line-height: 130%;
  }
  h4,
  & > p {
    box-sizing: border-box;
    width: 100%;
    // padding: 0 0 0 42px;
  }
  h2 {
    color: #fe9013;
  }
  h3 {
    font-weight: 400;
    margin: 0 0 0 0;
  }

  .text-container {
    margin: 54px 0 0 0;
    color: #fff;

    p {
      box-sizing: border-box;
      padding: 0 15px 0 0;
      margin: 24px 0 0 0;
      line-height: 140%;
    }

    h3:last-child {
      margin: 58px 0 0 0;
      color: #fe9013;
    }
  }

  .feed-container {
    box-sizing: border-box;
    height: 964px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 0 0 180px 0;
    padding: 0 92px;

    .arounded-button {
      border: none;
    }

    h2 {
      margin: 40px 13px 0 0;
    }
    h4 {
      margin: 25px 0 0 0;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 65px 0 0 0;
      // panda image
      .feed-size-image {
        width: 550px;
        height: 246px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > div {
          // height: 100%;
        }

        .diet-descr {
          position: relative;
          width: 160px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 38px 88px 0 0;

          .days-diet-amount {
            font-size: 72px;
            font-weight: 500;
            margin: 0 0 -6px 0;
          }
          .x {
            position: absolute;
            right: -25px;
            top: 37%;
            font-size: 2em;
            font-weight: 400;
            // margin: 0 64px 0 11px;
          }
        }
        .animals-widget {
          width: 284px;
          height: 246px;
          background: url("../../images/animals_widgets/panda_widget1.png");
          margin: 0 16px 0 0;
        }
      }

      // amount range
      fieldset.amount {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 162px;
        margin: 50px 0 0 0;
        padding: 0 0 0 0;
        border: none;

        legend {
          margin: 0 0 0 2px;
        }

        .amount-checkbox {
          position: absolute;
          display: none;

          //@ checked

          //to copy
          
          &#amount-5000:checked ~ .checkbox-range .amount-label.amount-5000 .real-styled-checkbox,
          &#amount-2000:checked ~ .checkbox-range .amount-label.amount-2000 .real-styled-checkbox,
          &#amount-1000:checked ~ .checkbox-range .amount-label.amount-1000 .real-styled-checkbox,
          &#amount-500:checked ~ .checkbox-range .amount-label.amount-500 .real-styled-checkbox,
          &#amount-250:checked ~ .checkbox-range .amount-label.amount-250 .real-styled-checkbox,
          &#amount-100:checked ~ .checkbox-range .amount-label.amount-100 .real-styled-checkbox,
          &#amount-50:checked ~ .checkbox-range .amount-label.amount-50 .real-styled-checkbox,
          &#amount-25:checked ~ .checkbox-range .amount-label.amount-25 .real-styled-checkbox {
            &::before {
              box-sizing: border-box;
              content: "";
              width: 40px;
              height: 40px;
              position: absolute;
              top: -15px;
              right: -15px;
              border: 2px solid #fe9013;
              border-radius: 100%;
            }
            &::after {
              box-sizing: border-box;
              content: "";
              width: 24px;
              height: 24px;
              position: absolute;
              top: -7px;
              right: -7px;
              border: 2px solid #fe9013;
              border-radius: 100%;
            }
            & p {
              color: #fe9013;
            }
          }
        }
        .checkbox-range {
          position: relative;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .checkbox-range-background {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height: 27px;
            top: 18px;
            display: flex;
            align-items: center;
            background: #404950;
            border-radius: 2px;
            padding: 0 31px;

            & > div {
              width: 100%;
              height: 2px;
              background: #72828e;
            }
          }
          .amount-label {
            width: 62px;
            height: 100px;
            display: flex;
            justify-content: center;

            .real-styled-checkbox {
              box-sizing: border-box;
              position: relative;
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background: #ffee2e;
              margin: 26px 0 0 0;

              // padding: 2px;
              // border: 4px solid transparent;
              // outline: 2px solid transparent;
              
              .tap-area {
                position: absolute;
                width: 60px;
                height: 60px;
                border: 1px solid black;
                background: transparent;
                top: -25px;
                right: -25px;
              }
              p {
                position: absolute;
                font-size: 26px;
                font-weight: 500;
                color: #404950;
                top: 33px;
                left: -27px;
                span {
                  font-size: 22px;
                }
              }
            }
          }
        }
      }

      label[for="another-amount"] {
        position: relative;
      }
      #another-amount {
        box-sizing: border-box;
        position: relative;
        width: 268px;
        height: 54px;
        background: transparent;
        border: 1px solid #929699;
        border-radius: 2px;
        color: #929699;
        padding: 0 0 0 7px;

        // REMOVE ARROWS
        //for chrome and other webkit browsers
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
        // for firefox
        -moz-appearance: textfield;

        & ~ span {
          position: absolute;
          top: 18px;
          right: 9px;
          color: #929699;
          font-size: 21px;
          font-weight: 500;
        }
        &:active,
        &:focus-visible:valid {
          outline: none;
          border: 1px solid #4b9200;
          color: #4b9200;
          & ~ span {
            color: #4b9200;
          }
        }
        &:invalid {
          outline: none;
          border: 1px solid #d31414;
          color: #d31414;
          & ~ span {
            color: #d31414;
          }
        }
      }
      fieldset.period-radio {
        display: flex;
        justify-content: center;
        border: none;
        margin: 22px 15px 20px 0;

        input {
          display: none;
          &#monthly:checked ~ label[for="monthly"]::before,
          &#once:checked ~ label[for="once"]::before {
            background: #4b9200;
            border: none;
          }
        }
        label {
          position: relative;
          display: flex;
          justify-content: center;
          &:first-of-type {
            margin-right: 50px;
          }

          &::before {
            box-sizing: border-box;
            display: inline-block;
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid #FE9013;
            border-radius: 100%;
            margin: 0 10px 0 0;
          }
        }
      }
    }
    a {
      color: #333B41;
      margin: 31px 0 0 3px;
    }
  }
}
