.testimonials {
  background: no-repeat bottom -26% right url(../../images/xl/leav_foto_testimonials.png);
  @include xl {
    height: 919px;
  }
  @include lg {
    height: 842px;
    padding: 100px 30px 0 30px;
    background: no-repeat bottom -17% right url(../../images/lg/leav_foto.png);
  }
  @include md {
    height: 668px;
    padding: 60px 20px 0 20px;
    background: no-repeat bottom -15% right url(../../images/md/leav_foto.png);
  }
  @include sm {
    height: 580px;
    padding: 21px 10px 0 10px;
    background: no-repeat bottom -6% right url(../../images/sm/leav_foto.png);
  }

  padding: 140px 0 180px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    @include lg {
      max-width: 940px;
    }
    @include md {
      align-items: center;
      .squared-button {
        width: 240px;
      }
    }
    @include sm {
      align-items: center;
      .squared-button {
        width: 240px;
      }
    }

    h3 {
      font-weight: 400;
      align-self: center;
      margin: 14px 0 0 0;
    }

    .feedback {
      width: 1000%;
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 61px 0 21px 0;

      @include lg {
        margin: 44px 0 20px 0;
      }
      @include md {
        flex-direction: column;
        width: 100%;
        height: 357px;
        margin: 44px 0 40px 0;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      @include sm {
        flex-direction: column;
        width: 100%;
        height: 357px;
        margin: 25px 0 30px 0;
        overflow-y: scroll;
        overflow-x: hidden;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .feedback-card-container {
        min-width: 268px;
        width: 268px;
        height: 391px;
        background: linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
          ),
          linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
          );
        border-radius: 20px;
        margin: 0 29px 0 0;

        transition: margin 0.5s;

        @include lg {
          min-width: 293px;
        }
        @include md {
          width: 100%;
          height: 109px;
          margin: 0 0 15px 0;
        }
        @include sm {
          width: 100%;
          height: 109px;
          margin: 0 0 15px 0;
        }

        .feedback-card {
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          border: 2px solid transparent;
          border-radius: 20px;
          background-color: #f1f3f2;
          background-clip: padding-box;
          padding: 15px;

          @include md {
            overflow-y: scroll;

            &::-webkit-scrollbar {
              display: none;
            }
          }
          @include sm {
            padding: 8px 10px 0 10px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              display: none;
            }
          }

          .feedback-card-header {
            width: 100%;
            height: 37px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 0 11px 0;

            .avatar {
              width: 37px;
              height: 37px;
              border-radius: 100%;
              background: url(../../images/avatar/user_icon.png);
              margin-right: 10px;
            }
            p.name {
              font-weight: 400;
              color: #000;
            }
            p.info {
              color: #bdbdbd;
            }
          }

          p {
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            color: #767474;
            &.feedback-text {
              height: 308px;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                width: 0;
              }
            }
          }
        }
      }
    }

    .scrollbar-container {
      position: relative;
      width: 600px;
      height: 8px;
      align-self: center;
      margin: 0 0 31px 0;
      background: linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        ),
        linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        );
      border-radius: 5px;

      @include lg {
        margin: 0 0 52px 0;
      }
      @include md {
        display: none;
      }
      @include sm {
        display: none;
      }

      .scrollbar {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        border-radius: 20px;
        background-clip: padding-box;
        background-color: #f1f3f2;
        margin: 10px 0 10px 0;
        top: -10px;

        -webkit-appearance: none;

        &:focus {
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 115px;
          height: 6px;
          border-radius: 5px;
          background: #fe9013;
          border: solid transparent 1px;
          box-shadow: 0 0 2px black;
          // margin-top: calc(max((8px - 1px - 1px) * 0.5,0px) - 6px * 0.5);
          margin: 10px 0 10px 0;

          &:hover {
              background: #db7500;
            }
          &:active {
            background: #4b9200;
          }
          @include lg {
            width: 75px;
          }

          // -webkit-appearance: none;
          // box-sizing: border-box;
          // width: 115px;
          // height: 6px;
          // border: solid transparent 1px;
          // background: #fe9013;
          // border-radius: 5px;
          // &:hover {
          //   background: #db7500;
          // }
          // &:active {
          //   background: #4b9200;
          // }
          // @include lg {
          //   width: 75px;
          // }
        }



        &::-webkit-slider-runnable-track, &::-moz-range-track {
          width: 100%;
          height: 100%;
          border: 1px solid transparent;
          border-radius: 2px;
          background-clip: padding-box;
          background-color: #f1f3f2;
        }

        


        // &:hover {
        //   background: linear-gradient(
        //     0deg,
        //     rgba(241, 243, 242, 0) 0%,
        //     rgba(241, 243, 242, 1) 25%,
        //     rgba(241, 243, 242, 1) 75%,
        //     rgba(241, 243, 242, 0) 100%
        //   );
        // }

        .scrollbar-thumb {
          box-sizing: border-box;
          width: 115px;
          height: 6px;
          border: solid transparent 1px;
          background: #fe9013;
          border-radius: 5px;
          &:hover {
            background: #db7500;
          }
          &:active {
            background: #4b9200;
          }
          @include lg {
            width: 75px;
          }
        }
      }
    }
  }
}
