.favorite-animal {
  
  //section height and position
  @include xl {
    height: 780px;
  }
  @include lg {
    height: 584px;
  }
  @include md {
    height: 373px;
  }
  @include sm {
    height: 187px;
    margin-top: 34px;
  }

  background: center bottom no-repeat url("../../images/Giant_Panda_favorite_animal.png"), linear-gradient(90deg, rgba(73,76,77,1) 0%, rgba(237,237,237,1) 40%, rgba(237,237,237,1) 60%, rgba(191,178,163,1) 100%);
  background-size: cover;

  &>div {
    display: flex;
    justify-content: end;

    &>div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &>div {
        position: relative;
        display: flex;
      }
    }
  }

  .watch-text {
    width: 500px;
    height: 400px;
    color: #fff;
    font-size: 106px;
    font-weight: 700;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    z-index: 100;

    span {
      color: #FFEE2E;
    }
  }
  .circle {
      position: absolute;
      top: -75px;
      left: -73px;
      width: 465px;
      height: 465px;
      border-radius: 100%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      z-index: 50;
    }
}