header {
  position: absolute;
  background: #111115;
  align-items: center;
  z-index: 100;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-weight: 500;
      line-height: 140%;
      @include md-min {
        display: none;
      }
      @include sm-min {
        display: none;
      }

      &.active {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #F9804B;
      }

      &.logo {
        box-sizing: border-box;
        width: 82px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 0;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        background: bottom 6px left 9px no-repeat url(../../icons/bamboo_white.png);
        @include lg {
          margin: 0 15px 0 0;
        }
        @include md-min {
          width: 47px;
          height: 30px;
          border: none;
          background: bottom 2px left 4px no-repeat url(../../icons/bamboo_small_white.png);
        }
        @include sm-min {
          width: 47px;
          height: 30px;
          border: none;
          background: bottom 2px left 4px no-repeat url(../../icons/bamboo_small_white.png);
        }


        .logo-text {
          font-size: 19px;
          font-weight: 400;
          line-height: 120%;
          text-align: center;
          margin: 2px 0 0 0;
          @include md-min {
            font-size: 12px;
          };
          @include sm-min {
            font-size: 12px;
          };

        }
        
      }
      &:last-child {
        flex-basis: 42%;
        text-align: right;
        @include lg {
          flex-basis: 33.5%;
        }
        @include sm-min {
          flex-basis: 33.5%;
        }
      }
    }

    .burger {
      width: 18px;
      height: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 6px;
      margin-right: -6px;

      @include xl-min {
        display: none;
      }
      @include lg-min {
        display: none;
      }
      div {
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 2px;
      }
    }

    
    
  }



  @include xl {
    height: 80px;
  }
  @include lg {
    height: 80px;
  }
  @include md-min {
    top: 0;
    height: 34px;
  }
  @include sm-min {
    top: 0;
    height: 34px;
  }
}