footer {
  background: #111115;
  @media screen and (min-width: $large_screen_width) {
    height: 443px;
  }
  @media (min-width: $medium_screen_width) {
    height: 443px;
  }
  @media (min-width: $mobile_width) {
    height: 282px;
  }
  @media (min-width: $small_width) {
    height: 334px;
  }
}